a:hover {
    border-bottom: 3px solid #F1CDB3;
}


.link-active {
    color: #545454;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;    
    flex-wrap: wrap;
    position: relative;
}

header a {
    color: #545454;
}

header a:hover {
    color: #292929;
}

nav,
.our-friends_wrapper,
.footer_wrapper {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: clamp(800px, 100%, 1200px);
    position: relative;
}

.logo_wrapper h1 a {
    color: #545454;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
}

.logo_wrapper h1 {
    color: #c4c4c4;
    font-size: 24px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

.logo_subtitle {
    color: #292929;
}

.our-friends {
    background: #F6F6F6;
    min-height: 877px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-friends_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards_wrapper {
    width: 100%;
    min-height: 930px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    gap: 42px;
}

.pagination {
    width: 100%;
    min-height: 1162px;
    margin: 60px 0;
    position: relative;
    display: flex;
    justify-content: center;
}

.card {
    width: 270px;
    justify-self: center;
    transition: all .15s ease-in-out;
}

.pagination-controls {
    min-width: 300px;
    max-width: 340px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.pagination-control,
.popup-close {
    font-family: 'Georgia', serif;
}

.control-curr {
    background: #FDDCC4;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}


.inactive,
.inactive:hover {
    border: 2px solid #CDCDCD;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    color:  #CDCDCD;
    background-color: transparent;
}
@media screen and (max-width: 1280px) and (min-width: 768px) {
    .logo_wrapper {
        flex-direction: column;
    }
    
    header nav {
        width: calc(100% - 60px);
    }

    .pagination {
        min-height: 1733px;

    }

    .cards_wrapper {
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(3, 1fr);
        width: calc(100% - 60px);
        min-height: 1733px;
    }
}

@media screen and (max-width: 768px) {
    header nav {
        margin: 0;
        width: 100%;
        position: relative;
    }

    .menu-burger-span {
        background-color: #000000;
    }

    .header-menu {
        transform: translateX(120%);
    }

    nav .menu-open {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: #292929;
        z-index: 3;
        max-width: 320px;
        min-width: 100vw;
        min-height: 100vh;
        height: 100vh;
        animation: slideIn 0.4s ease-in-out;
    }

    .menu-open ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        transform: translateY(-85%);
    }

    .menu-open .logo_wrapper {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
    }

    @keyframes slideIn {
        from {
            transform: translateX(100%);
        }
        to {
            transform: translateX(0%);
        }
    }

    .cards_wrapper {
        display: flex;
        flex-direction: column;
        width: calc(85% - 60px);
    }
}